body {
    background-color: #FCEBB6;
    color: #221811;
    font-family: Arial;
    background-image: url(images/fadedroad50.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header {
    background-color: #D2B48C;
    background-image: url(images/coffeelogo.jpg);
    background-repeat: no-repeat;
    color: #231814;
    font-family: 'Anton', sans-serif;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 240px;
}

header a:link {
    color: #231814;
}

header a:visited {
    color: #231814;
}

header a:hover {
    color: #fef6c2;
}

main {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 2em;
    display: block;
    margin-left: 200px;
    background-color: #fef6c2;
    overflow: auto;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

#homehero {
	height: 300px;
	background-image: url(images/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
    font-size: 3em;
}

h2 {
    color: #8C3826;
    padding-left: 3em;
    padding-right: 2em;
}

h3 {
    color: #8c3826;
    padding-left: 3em;
    padding-right: 2em;
}

h4 {
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-bottom: .25em;
    padding-left: 3em;
    padding-right: 2em;
    text-transform: uppercase;
    border-bottom: 1px solid #221811;
    padding-bottom: 0;
    clear: left;
}

div {
    padding-left: 3em;
    padding-right: 2em;
}

p {
    padding-left: 3em;
    padding-right: 2em;
}

dt {
    color: #8c3826;
}

ul {
    padding-left: 3em;
    padding-right: 2em;
}

dl {
    padding-left: 3em;
    padding-right: 2em;
}

nav {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: 200px;
}

nav a:link {
    color: #fef62c;
}

nav a:visited {
    color: #d2b48c;
}

nav a:hover {
    color: #cc9933;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}
footer {
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    border-top: 2px #8C3826;
}

#wrapper {
    background-color:#231814;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 5px 5px 5px #8C3826;
    padding: 0;
}

nav a {
	text-decoration: none;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

#homehero {
    background-size: 100% 100%;
    background-image: url(images/hero.jpg);
    height: 300px
}

#heroguitar {
    background-size: 100% 100%;
    background-image: url(images/heroguitar.jpg);
    height: 300px
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

.onethird {
    float: left;
    width: 33%;
}

#heromugs {
    background-size: 100% 100%;
    background-image: url(images/heromugs.jpg);
    height: 300px
}